.login-component {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 50px;
}

#submit-btn {
  margin-top: 20px;
}
